@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.imglogo {
    padding: 40px;
    height: 20px;
    margin: 20px;
    background-image: url(../imagens/logo-panna.jpeg);
    background-repeat: no-repeat;

}

h1 {
    padding: 15px;
    font-size: 1.4em;
    /* width: 98vh; */
    height: 60px;
    color: rgb(136, 129, 129);
}

section {
    margin: auto;
    position: absolute;
    width: 100vw;

}

section>p {
    color: rgb(121, 120, 161);
    padding: 10px;

}


a {
    display: block;
    left: 25%;
    position: relative;
    padding: 15px;
    width: 210px;
    height: 20px;
    background-color: #ffc107;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 25px;
}